@import 'reset';
@import 'component';

body {
    width: 1440px;
    line-height: 48px;
    font-family: '微软雅黑 Regular', Arial, Helvetica, sans-serif;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

img {
    width: 100%;
}

a {
    color: #333;
    text-decoration: none;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    background-size: 100% 100%;
    &-pos {
        width: 14px;
        height: 20px;
        background-image: url(../img/icon/pos.png);
    }
    &-dropdown {
        width: 10px;
        height: 9px;
        background-image: url(../img/icon/dropdown.png);
    }
    &-space {
        background-image: url(../img/icon/space.png);
    }
    &-weibo {
        background-image: url(../img//icon/weibo.png);
    }
    &-tencent-weibo {
        background-image: url(../img//icon/tencent_weibo.png);
    }
    &-wechat {
        background-image: url(../img/icon/wechat.png);
    }
    &-search {
        margin-top: 48px;
        width: 23px;
        height: 23px;
        background-image: url(../img/icon/search.png);
    }
    &-love {
        background-image: url(../img/icon/love.png);
    }
    &-comment {
        background-image: url(../img/icon/comment.png);
    }
}

.top {
    line-height: 38px;
    padding: 0 55px;
    font-size: 14px;
    color: #bababa;
    background-color: #333;
    &-left {
        float: left;
    }
    &-middle, &-right {
        float: right;
    }
    &-middle {
        span {
            margin-right: 24px;
        }
        margin-right: 34px;
    }
    &-right {
        .icon {
            width: 28px;
            height: 28px;
            margin-right: 36px;
        }
    }
    .c-select {
        display: inline-block;
        .c-option {
            color: #fff;
        }
    }
    .c-btn {
        padding: 4px 6px;
        margin-right: 32px;
        border: 1px solid #bababa;
        border-radius: 10px;
        color: #bababa;
    }
}

.nav-wrap {
    padding: 0 55px;
    .logo-wrap {
        float: left;
        width: 155px;
        height: 56px;
        padding: 20px 0;
        margin-top: 20px;
        margin-right: 96px;
    }
    .c-nav {
        float: left;
        padding: 20px 0;
    }
    .c-nav-link {
        padding: 18px 10px;
        margin-right: 30px;
        font-size: 20px;
        color: #262626;
        &.active {
            color: #fff;
            background-color: #275599;
        }
    }
}

.banner {
    
}

.part {
    &::after {
        @extend .clearfix::after;
    }
    padding-left: 55px;
    padding-right: 55px;
    .title {
        padding-top: 40px;
        padding-bottom: 24px;
        line-height: 48px;
        text-align: left;
        font-size: 28px;
        color: #353535;
        background-color: #fff;
    }
    .desc {
        font-size: 14px;
        color: #8e8d8d;
    }
}

.gurarntee {
    .ad-gurarntee {
        float: left;
        width: 394px;
        height: 186px;
        margin-right: 72px;
        background-size: 100%;
    }
    .ad-gurarntee:nth-child(2) {
        background-image: url(../img/ad/gurarntee_1.jpg);
    }
    .ad-gurarntee:nth-child(3) {
        background-image: url(../img/ad/gurarntee_2.jpg);
    }
    .ad-gurarntee:nth-child(4) {
        margin-right: 0;
        background-image: url(../img/ad/gurarntee_3.jpg);
    }
}

.serve {
    .ad-serve-wrap {
        &::after {
            @extend .clearfix::after;
        }
        position: relative;
        left: -55px;
        width: 1320px;
        padding-left: 60px;
        padding-right: 60px;
        background-color: #f5f5f5;
        .ad-serve {
            position: relative;
            float: left;
            .base, .mask {
                width: 161px;
                height: 400px;
                padding-left: 39px;
                padding-right: 39px;
            }
            margin-right: 24px;
            color: #8d8b8b;
            .step-num {
                padding: 28px 0;
                text-align: center;
                font-size: 60px;
                font-style: italic;
                border-bottom: 1px solid #8d8b8b;
            }
            .step-name {
                padding: 26px 0;
                text-align: center;
                font-size: 20px;
                margin-bottom: 36px;
            }
            .step-img {
                width: 160px;
            }
            .base {
                &:hover + .mask{
                    transition: all 0.5s ease-in-out;
                    visibility: visible;
                    height: 400px;
                    transform: translateY(0);
                }
            }
            .mask {
                position: absolute;
                top: 0;
                visibility: hidden;
                height: 0;
                color: #fff;
                background-color: #8ad160;
                opacity: 0.8;
                transform: translateY(400px);
                &-desc {
                    line-height: 30px;
                    font-size: 14px;
                }
                &:hover {
                    // transition: all 0.5s ease-in-out;
                    visibility: visible;
                    height: 400px;
                    transform: translateY(0);
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.case {
    .c-gallery {
        &-card {
            width: 310px;
        }
        &-info {
            line-height: 48px;
            padding-left: 34px;
            padding-right: 32px;
            background-color: #f5f5f5;
            .params {
                font-size: 14px;
            }
            span {
                color: #666;
            }
            .style {
                margin-right: 66px;
            }
            .size {
                margin-right: 60px;
            }
            .icon {
                width: 20px;
                height: 18px;
            }
        }
    }
}

.avatar-company-wrap {
    .part {
        float: left;
        padding: 0;
        .title {
            padding-top: 42px;
            padding-bottom: 16px;
        }
    }
    .avatar-wrap {
        width: 830px;
        margin-right: 28px;
        background-color: #f5f5f5;
        .avatar-link {
            display: block;
            width: 140px;
            height: 140px;
            margin-right: 20px;
        }
        .avatar-link, .avatar-info {
            float: left;
        }
        .avatar-top, .avatar-bottom {
            &::after {
                @extend .clearfix::after;
            }
        }
        .avatar-top {
            padding-top: 30px;
            padding-bottom: 24px;
        }
        .avatar-bottom {
            padding-top: 26px;
            padding-bottom: 30px;
        }
        .avatar-single-wrap {
            float: left;
            margin-right: 12px;
            &:first-child {
                margin-left: 12px;
            }
            &:nth-child(4) {
                margin-left: 12px;
            }
        }
        .avatar-info {
            font-size: 14px;
            color: #353535;
        }
        .avatar-name {
            padding-top: 12px;
            line-height: 48px;
            font-size: 18px;
        }
        .avatar-experience {
            line-height: 24px;
        }
        .avatar-style {
            line-height: 36px;
        }
    }
    .company-wrap {
        width: 472px;
        background-color: #f5f5f5;
        .c-list {
            &-item {
                &:nth-of-type(1){
                    padding-top: 6px;
                    .list-num {
                        color: #f25618;
                    }
                }
                &:nth-of-type(2) .list-num{
                    color: #f25618;
                }
                &:nth-of-type(3) .list-num{
                    color: #f25618;
                }
            }
            .list-num {
                display: inline-block;
                vertical-align: bottom;
                width: 60px;
                text-align: center;
                font-size: 20px;
                color: #757575;
                font-style: italic;
            }
        } 
    }
}

.recommend {
    .title {
        padding-top: 41px;
        padding-bottom: 29px;
    }
    .c-gallery {
        &-card, &-img, &-info {
            float: left;
        }
        &-card {
            margin-right: 0;
            &:nth-child(1) {
                .c-gallery-info {
                    padding-right: 28px;
                    width: 316px;
                }
            }
            &:nth-child(2) {
                .c-gallery-info {
                    width: 314px;
                }
            }
        }
        &-img {
            width: 300px;
        }
        &-info {
            padding-left: 36px;
            .more {
                color: #f25618;
            }
        }
        &-title {
            margin-bottom: 4px;
            font-size: 14px;
            color: #353535;
        }
        &-desc {
            line-height: 36px;
            font-size: 13px;
            color: #353535;
            text-align: left;
        }
    }
}

.friend-link-wrap {
    padding: 8px 55px;
    line-height: 36px;
    background-color: #f5f5f5;
    .desc {
        margin-right: 14px;
        font-size: 16px;
        color: #676767;
    }
    .friend-link {
        padding-left: 28px;
        padding-right: 28px;
        font-size: 14px;
        color: #676767;
    }
}

.footer-top {
    padding-left: 55px;
    padding-right: 55px;
    &::after, &-left::after, .footer-list::after {
        @extend .clearfix::after;
    }
    padding-top: 20px;
    padding-bottom: 18px;
    background-color: #2f2f2f;
    &-left, &-right, .footer-list, .footer-list-item {
        float: left;
    }
    .footer-list {
        margin-right: 170px;
        &:first-child {
            .footer-list-item {
                &:nth-child(2) {
                    margin-right: 50px;
                }
                &:nth-child(3) {
                    margin-right: 62px;
                }
            }
        }
    }
    .title {
        line-height: 36px;
        font-size: 14px;
        color: #ffff;
    }
    .footer-list-link {
        display: block;
        padding-left: 4px;
        padding-right: 4px;
        line-height: 36px;
        font-size: 13px;
        color: #fff;
    }
    &-right {
        .code-wechat {
            display: inline-block;
            vertical-align: middle;
            margin-top: 10px;
            margin-right: 26px;
            width: 163px;
            height: 160px;
        }
        .info {
            display: inline-block;
            p {
                line-height: 36px;
                font-size: 14px;
                color: #c8c8c8;
            }
        }
    }
}

.footer-bottom {
    padding-top: 4px;
    padding-bottom: 2px;
    background-color: #2b2b2b;
    .copyright {
        line-height: 36px;
        text-align: center;
        font-size: 13px;
        color: #c8c8c8;
    }
}